body{
    background-image: url(/Images/25\ Website\ Backgrounds\ \ \ The\ HostBaby\ Blog.jpg);
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.wallet{
    font-size: larger;
}

.img{
    height:300px ;
}
